<template>
  <div>
    <h1>{{ msg }}</h1>

    <div class="container">
      <button>BOUTON de couleur</button>
    </div>
    <p>
      <a href="https://vitejs.dev/guide/features.html" target="_blank">
        Vite Documentation
      </a>
      |
      <a href="https://v3.vuejs.org/" target="_blank">Vue 3 Documentation</a>
    </p>
  </div>
</template>
<script>
export default {
  props: {
    msg: {
      type: String,
    },
  },
}
</script>
<style lang="less" scoped>
a {
  color: #42b983;
}
.container {
  button {
    background: @text-secondary;
  }
}
</style>
